In [29]:
import pandas as pd
import numpy as np
# 데이터를 수집합니다.
train1 = pd.read_csv("C:/Users/tjoeun709-10/Desktop/0513/train.csv")
# 수집된 데이터 샘플을 확인합니다.
train1

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,...,occyp_type_Laborers,occyp_type_Low-skill Laborers,occyp_type_Managers,occyp_type_Medicine staff,occyp_type_Private service staff,occyp_type_Realty agents,occyp_type_Sales staff,occyp_type_Secretaries,occyp_type_Security staff,occyp_type_Waiters/barmen staff
0,3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,1,0,0,0
1,7,M,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
2,12,F,Y,Y,1,157500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
3,15,M,Y,Y,2,157500.0,Working,Secondary / secondary special,Married,With parents,...,0,0,0,0,0,0,0,0,0,0
4,22,F,N,N,0,157500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,...,1,0,0,0,0,0,0,0,0,0
5,29,F,N,Y,0,121500.0,Commercial associate,Secondary / secondary special,Married,Co-op apartment,...,0,0,0,0,0,0,1,0,0,0
6,31,M,Y,Y,0,135000.0,Commercial associate,Higher education,Married,House / apartment,...,1,0,0,0,0,0,0,0,0,0
7,32,F,N,Y,0,135000.0,Working,Higher education,Married,House / apartment,...,1,0,0,0,0,0,0,0,0,0
8,34,M,Y,Y,1,270000.0,Working,Secondary / secondary special,Married,House / apartment,...,1,0,0,0,0,0,0,0,0,0
9,42,M,N,N,1,270000.0,Working,Secondary / secondary special,Married,House / apartment,...,0,0,1,0,0,0,0,0,0,0
10,45,M,Y,N,0,405000.0,Working,Higher education,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
11,79,F,Y,Y,1,225000.0,Working,Higher education,Separated,House / apartment,...,0,0,0,0,0,0,0,0,0,0
12,81,M,Y,Y,0,135000.0,Working,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,1,0,0,0
13,104,M,Y,Y,0,225000.0,Commercial associate,Higher education,Single / not married,House / apartment,...,0,0,0,0,0,0,1,0,0,0
14,130,F,N,Y,0,297000.0,Commercial associate,Secondary / secondary special,Single / not married,Rented apartment,...,1,0,0,0,0,0,0,0,0,0
15,131,F,Y,N,0,202500.0,Commercial associate,Secondary / secondary special,Civil marriage,With parents,...,0,0,0,0,0,0,0,0,0,0
16,135,M,Y,N,1,337500.0,Commercial associate,Higher education,Separated,House / apartment,...,0,0,1,0,0,0,0,0,0,0
17,138,F,N,Y,0,54000.0,Pensioner,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
18,140,M,Y,Y,1,180000.0,Working,Higher education,Married,With parents,...,1,0,0,0,0,0,0,0,0,0
19,161,M,Y,Y,2,360000.0,Working,Secondary / secondary special,Married,House / apartment,...,0,0,1,0,0,0,0,0,0,0
20,171,F,N,N,0,135000.0,Working,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,1,0,0,0,0,0
21,173,F,N,Y,0,189000.0,Pensioner,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
22,181,F,N,Y,0,90000.0,Pensioner,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
23,182,F,N,Y,2,67500.0,Working,Higher education,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
24,188,F,N,N,0,112500.0,Pensioner,Secondary / secondary special,Widow,House / apartment,...,0,0,0,0,0,0,0,0,0,0
25,190,F,N,Y,0,90000.0,Pensioner,Secondary / secondary special,Single / not married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
26,193,M,Y,N,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,1,0
27,208,F,N,N,2,112500.0,State servant,Higher education,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
28,214,F,N,N,0,67500.0,Pensioner,Higher education,Widow,House / apartment,...,0,0,0,0,0,0,0,0,0,0
29,218,F,N,N,0,94500.0,Pensioner,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9630,4936,F,N,Y,0,157500.0,Pensioner,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
9631,4937,F,N,Y,0,184500.0,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,...,0,0,0,0,0,0,0,0,0,0
9632,4938,F,N,Y,0,112500.0,Working,Secondary / secondary special,Separated,House / apartment,...,0,0,0,0,0,0,0,0,0,0
9633,4939,F,Y,Y,1,450000.0,State servant,Higher education,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
9634,4940,M,Y,N,0,180000.0,Working,Secondary / secondary special,Single / not married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
9635,4941,M,Y,Y,3,135000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
9636,4942,F,N,Y,0,202500.0,State servant,Secondary / secondary special,Single / not married,House / apartment,...,0,0,0,1,0,0,0,0,0,0
9637,4949,F,N,N,0,67500.0,Working,Secondary / secondary special,Married,Municipal apartment,...,0,0,0,0,0,0,0,0,0,0
9638,4950,F,N,Y,0,83250.0,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,...,0,0,0,0,0,0,0,0,0,0
9639,4951,F,N,Y,0,225000.0,Working,Higher education,Single / not married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
9640,4953,F,N,N,0,67500.0,Working,Secondary / secondary special,Married,With parents,...,0,0,0,0,0,0,0,0,0,0
9641,4955,M,Y,N,2,292500.0,State servant,Secondary / secondary special,Married,With parents,...,0,0,0,0,0,0,0,0,0,0
9642,4956,F,N,Y,0,110250.0,State servant,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
9643,4957,M,Y,Y,1,315000.0,Commercial associate,Secondary / secondary special,Married,With parents,...,0,0,0,0,0,0,0,0,0,0
9644,4958,F,Y,Y,0,360000.0,Commercial associate,Higher education,Single / not married,House / apartment,...,0,0,1,0,0,0,0,0,0,0
9645,4959,F,N,N,1,135000.0,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,...,0,0,0,0,0,0,0,0,0,0
9646,4960,F,N,Y,0,76500.0,Commercial associate,Secondary / secondary special,Widow,House / apartment,...,0,0,0,0,0,0,1,0,0,0
9647,4961,F,N,N,0,135000.0,Commercial associate,Secondary / secondary special,Widow,House / apartment,...,0,0,0,0,0,0,0,0,0,0
9648,4962,F,N,Y,1,225000.0,Commercial associate,Higher education,Single / not married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
9649,4963,M,Y,Y,0,382500.0,Working,Higher education,Civil marriage,House / apartment,...,1,0,0,0,0,0,0,0,0,0
9650,4964,F,Y,Y,0,337500.0,Working,Higher education,Civil marriage,Office apartment,...,0,0,0,0,0,0,0,0,0,0
9651,4965,F,Y,N,0,180000.0,State servant,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
9652,4966,F,N,Y,0,112500.0,Pensioner,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
9653,4969,F,Y,Y,3,225000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,1,0,0,0
9654,4971,F,Y,Y,1,270000.0,Commercial associate,Higher education,Civil marriage,House / apartment,...,0,0,1,0,0,0,0,0,0,0
9655,4972,F,Y,Y,1,133650.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
9656,4973,F,N,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,...,0,0,0,1,0,0,0,0,0,0
9657,4975,F,N,Y,1,135000.0,Working,Secondary / secondary special,Married,House / apartment,...,1,0,0,0,0,0,0,0,0,0
9658,4976,F,N,Y,2,112500.0,Working,Secondary / secondary special,Married,With parents,...,0,0,0,0,0,0,0,0,0,0
9659,4978,F,N,N,0,157500.0,Commercial associate,Secondary / secondary special,Widow,Municipal apartment,...,0,0,0,0,0,0,1,0,0,0

In [30]:
# 사이킷런의 train_test_split을 사용하면 코드 한 줄로 손쉽게 데이터를 나눌 수 있습니다.
from sklearn.model_selection import train_test_split
# 다듬어진 데이터에서 20%를 테스트 데이터로 분류합니다
train1, test1 = train_test_split(train1, test_size=0.1)

In [32]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import RobustScaler


scaler = MinMaxScaler()

# 최적의 k를 찾기 위해 교차 검증을 수행할 k의 범위를 3부터 학습 데이터 절반까지 지정
max_k_range = train1.shape[0] // 2
k_list = []
for i in range(90, max_k_range, 90):
    k_list.append(i)
    
cross_validation_scores = []
x_train = train1[['child_num', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
                  'FLAG_MOBIL', 'work_phone', 'phone', 'email', 'family_size',
                  'begin_month', 'gender_F', 'gender_M', 'car_N', 'car_Y',
                  'reality_N', 'reality_Y', 'income_type_Commercial associate',
                  'income_type_Pensioner', 'income_type_State servant',
                  'income_type_Student', 'income_type_Working',
                  'edu_type_Academic degree', 'edu_type_Higher education',
                  'edu_type_Incomplete higher', 'edu_type_Lower secondary',
                  'edu_type_Secondary / secondary special',
                  'family_type_Civil marriage', 'family_type_Married',
                  'family_type_Separated', 'family_type_Single / not married',
                  'family_type_Widow', 'house_type_Co-op apartment',
                  'house_type_House / apartment', 'house_type_Municipal apartment',
                  'house_type_Office apartment', 'house_type_Rented apartment',
                  'house_type_With parents', 'occyp_type_Accountants',
                  'occyp_type_Cleaning staff', 'occyp_type_Cooking staff',
                  'occyp_type_Core staff', 'occyp_type_Drivers',
                  'occyp_type_HR staff', 'occyp_type_High skill tech staff',
                  'occyp_type_IT staff', 'occyp_type_Laborers',
                  'occyp_type_Low-skill Laborers', 'occyp_type_Managers',
                  'occyp_type_Medicine staff', 'occyp_type_Private service staff',
                  'occyp_type_Realty agents', 'occyp_type_Sales staff',
                  'occyp_type_Secretaries', 'occyp_type_Security staff',
                  'occyp_type_Waiters/barmen staff']] #여기에 분별력이 있는 컬럼들을 써줘야 한다.
y_train = train1[['credit']]

x_train_scale = scaler.fit_transform(x_train)

# 교차 검증(10-fold)을 각 k를 대상으로 수행해 검증 결과를 저장
for k in k_list:
    knn = KNeighborsClassifier(n_neighbors=k)
    scores = cross_val_score(knn, x_train_scale, y_train.values.ravel(), cv=10,
                                            scoring='accuracy')
    cross_validation_scores.append(scores.mean())
    
cross_validation_scores

[0.39291406059779804,
 0.38360092775939714,
 0.3781982272354597,
 0.3672662505667911,
 0.372794877214517,
 0.36933507772821017,
 0.3666909981955479,
 0.37221526054035964,
 0.37186580532110136,
 0.3732500114896808,
 0.3750865830716398,
 0.3722110330641725,
 0.3746289271487957,
 0.372902407138682,
 0.3706003778231448,
 0.3680670078697801,
 0.36957026180874203,
 0.36588494917766357,
 0.36634895559135744,
 0.36888205918158795,
 0.37014801636756733,
 0.3723283543321215,
 0.37129400293117587,
 0.3717515229311036,
 0.36898760443326617,
 0.3713979576001877,
 0.37324418277859733,
 0.3745133153581874,
 0.3753161905073574,
 0.3768149454343174,
 0.37784771050887006,
 0.37681164628651886,
 0.374627468529144,
 0.37198101087415514,
 0.37049019793501925,
 0.3695706549685087,
 0.36795735949409436,
 0.3670361006616344,
 0.3646224307101834,
 0.3671514354442265,
 0.36450577079480095,
 0.36324523638292094,
 0.36831025677801615,
 0.3682004733947716,
 0.3685420000014149,
 0.3656648618368391,
 0.3633646855208472,
 0.3638200882841327]

In [33]:
# 가장 예측율이 높은 k를 선정
k = k_list[cross_validation_scores.index(max(cross_validation_scores))]
print("The best number of k : " + str(k))

The best number of k : 90

In [35]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=k)

# 학습에 사용될 속성을 지정
x_train = train1[['child_num', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
                  'FLAG_MOBIL', 'work_phone', 'phone', 'email', 'family_size',
                  'begin_month', 'gender_F', 'gender_M', 'car_N', 'car_Y',
                  'reality_N', 'reality_Y', 'income_type_Commercial associate',
                  'income_type_Pensioner', 'income_type_State servant',
                  'income_type_Student', 'income_type_Working',
                  'edu_type_Academic degree', 'edu_type_Higher education',
                  'edu_type_Incomplete higher', 'edu_type_Lower secondary',
                  'edu_type_Secondary / secondary special',
                  'family_type_Civil marriage', 'family_type_Married',
                  'family_type_Separated', 'family_type_Single / not married',
                  'family_type_Widow', 'house_type_Co-op apartment',
                  'house_type_House / apartment', 'house_type_Municipal apartment',
                  'house_type_Office apartment', 'house_type_Rented apartment',
                  'house_type_With parents', 'occyp_type_Accountants',
                  'occyp_type_Cleaning staff', 'occyp_type_Cooking staff',
                  'occyp_type_Core staff', 'occyp_type_Drivers',
                  'occyp_type_HR staff', 'occyp_type_High skill tech staff',
                  'occyp_type_IT staff', 'occyp_type_Laborers',
                  'occyp_type_Low-skill Laborers', 'occyp_type_Managers',
                  'occyp_type_Medicine staff', 'occyp_type_Private service staff',
                  'occyp_type_Realty agents', 'occyp_type_Sales staff',
                  'occyp_type_Secretaries', 'occyp_type_Security staff',
                  'occyp_type_Waiters/barmen staff']]
x_train_scale = scaler.fit_transform(x_train)
# 예측할 값으로 지정
y_train = train1[['credit']]

# knn 모델 학습
knn.fit(x_train_scale, y_train.values.ravel())

# 테스트 데이터에서 분류를 위해 사용도리 속성을 지정
x_test = test1[['child_num', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
                  'FLAG_MOBIL', 'work_phone', 'phone', 'email', 'family_size',
                  'begin_month', 'gender_F', 'gender_M', 'car_N', 'car_Y',
                  'reality_N', 'reality_Y', 'income_type_Commercial associate',
                  'income_type_Pensioner', 'income_type_State servant',
                  'income_type_Student', 'income_type_Working',
                  'edu_type_Academic degree', 'edu_type_Higher education',
                  'edu_type_Incomplete higher', 'edu_type_Lower secondary',
                  'edu_type_Secondary / secondary special',
                  'family_type_Civil marriage', 'family_type_Married',
                  'family_type_Separated', 'family_type_Single / not married',
                  'family_type_Widow', 'house_type_Co-op apartment',
                  'house_type_House / apartment', 'house_type_Municipal apartment',
                  'house_type_Office apartment', 'house_type_Rented apartment',
                  'house_type_With parents', 'occyp_type_Accountants',
                  'occyp_type_Cleaning staff', 'occyp_type_Cooking staff',
                  'occyp_type_Core staff', 'occyp_type_Drivers',
                  'occyp_type_HR staff', 'occyp_type_High skill tech staff',
                  'occyp_type_IT staff', 'occyp_type_Laborers',
                  'occyp_type_Low-skill Laborers', 'occyp_type_Managers',
                  'occyp_type_Medicine staff', 'occyp_type_Private service staff',
                  'occyp_type_Realty agents', 'occyp_type_Sales staff',
                  'occyp_type_Secretaries', 'occyp_type_Security staff',
                  'occyp_type_Waiters/barmen staff']]
x_test_scale = scaler.fit_transform(x_test)
# 선수 포지션에 대한 정답을 지정
y_test = test1[['credit']]

# 테스트 시작
pred = knn.predict(x_test_scale)

# 모델 예측 정확도(accuracy) 출력
print("accuracy : " + str( accuracy_score(y_test.values.ravel(), pred)) )

accuracy : 0.37163561076604557

In [6]:
comparison = pd.DataFrame({'prediction':pred, 'ground_truth':y_test.values.ravel()})
comparison

     prediction  ground_truth
0             2             2
1             0             1
2             2             1
3             0             1
4             0             2
5             0             0
6             0             2
7             2             2
8             1             1
9             2             2
10            0             2
11            2             0
12            1             1
13            0             0
14            1             2
15            2             0
16            0             0
17            2             1
18            0             0
19            2             0
20            1             1
21            2             1
22            1             1
23            2             2
24            1             1
25            2             1
26            0             0
27            0             2
28            0             0
29            1             2
..          ...           ...
570           0             2
571           2             2
572           2             2
573           1             0
574           2             0
575           2             1
576           1             1
577           1             1
578           1             0
579           2             0
580           2             2
581           2             0
582           1             2
583           1             1
584           0             2
585           2             2
586           1             1
587           0             1
588           0             0
589           2             2
590           0             0
591           2             2
592           1             1
593           1             0
594           1             1
595           0             0
596           0             2
597           1             2
598           1             1
599           2             0

[600 rows x 2 columns]

In [38]:
train1_DT = pd.DataFrame(x_train_scale)
train1_DT = train1[['child_num', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
                  'FLAG_MOBIL', 'work_phone', 'phone', 'email', 'family_size',
                  'begin_month', 'gender_F', 'gender_M', 'car_N', 'car_Y',
                  'reality_N', 'reality_Y', 'income_type_Commercial associate',
                  'income_type_Pensioner', 'income_type_State servant',
                  'income_type_Student', 'income_type_Working',
                  'edu_type_Academic degree', 'edu_type_Higher education',
                  'edu_type_Incomplete higher', 'edu_type_Lower secondary',
                  'edu_type_Secondary / secondary special',
                  'family_type_Civil marriage', 'family_type_Married',
                  'family_type_Separated', 'family_type_Single / not married',
                  'family_type_Widow', 'house_type_Co-op apartment',
                  'house_type_House / apartment', 'house_type_Municipal apartment',
                  'house_type_Office apartment', 'house_type_Rented apartment',
                  'house_type_With parents', 'occyp_type_Accountants',
                  'occyp_type_Cleaning staff', 'occyp_type_Cooking staff',
                  'occyp_type_Core staff', 'occyp_type_Drivers',
                  'occyp_type_HR staff', 'occyp_type_High skill tech staff',
                  'occyp_type_IT staff', 'occyp_type_Laborers',
                  'occyp_type_Low-skill Laborers', 'occyp_type_Managers',
                  'occyp_type_Medicine staff', 'occyp_type_Private service staff',
                  'occyp_type_Realty agents', 'occyp_type_Sales staff',
                  'occyp_type_Secretaries', 'occyp_type_Security staff',
                  'occyp_type_Waiters/barmen staff', 'credit']]
test1_DT = pd.DataFrame(x_test_scale)
test1_DT = test1[['child_num', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
                  'FLAG_MOBIL', 'work_phone', 'phone', 'email', 'family_size',
                  'begin_month', 'gender_F', 'gender_M', 'car_N', 'car_Y',
                  'reality_N', 'reality_Y', 'income_type_Commercial associate',
                  'income_type_Pensioner', 'income_type_State servant',
                  'income_type_Student', 'income_type_Working',
                  'edu_type_Academic degree', 'edu_type_Higher education',
                  'edu_type_Incomplete higher', 'edu_type_Lower secondary',
                  'edu_type_Secondary / secondary special',
                  'family_type_Civil marriage', 'family_type_Married',
                  'family_type_Separated', 'family_type_Single / not married',
                  'family_type_Widow', 'house_type_Co-op apartment',
                  'house_type_House / apartment', 'house_type_Municipal apartment',
                  'house_type_Office apartment', 'house_type_Rented apartment',
                  'house_type_With parents', 'occyp_type_Accountants',
                  'occyp_type_Cleaning staff', 'occyp_type_Cooking staff',
                  'occyp_type_Core staff', 'occyp_type_Drivers',
                  'occyp_type_HR staff', 'occyp_type_High skill tech staff',
                  'occyp_type_IT staff', 'occyp_type_Laborers',
                  'occyp_type_Low-skill Laborers', 'occyp_type_Managers',
                  'occyp_type_Medicine staff', 'occyp_type_Private service staff',
                  'occyp_type_Realty agents', 'occyp_type_Sales staff',
                  'occyp_type_Secretaries', 'occyp_type_Security staff',
                  'occyp_type_Waiters/barmen staff', 'credit']]

In [39]:
X_train = train1_DT[['income_total', 'DAYS_EMPLOYED']]
y_train = train1_DT[['credit']]

X_test = test1_DT[['income_total', 'DAYS_EMPLOYED']]
y_test = test1_DT[['credit']]

In [40]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import numpy as np


def svc_param_selection(x, y, nfolds):
    svm_parameters = [
                        {'kernel' : ['rbf'],
                         'gamma': [0.1, 1],
                         'C': [100, 1000]}
                     ]
    # 사이킷런에서 제공하는 GridSearchCV를 사용해 최적의 파라미터를 구함
    clf = GridSearchCV(SVC(), svm_parameters, cv=10)
    clf.fit(x_train, y_train.values.ravel())
    print(clf.best_params_)

    return clf

# 최적의 파라미터로 학습된 모델을 clf로 저장
clf = svc_param_selection(x_train_scale, y_train.values.ravel(), 10)

{'C': 100, 'gamma': 0.1, 'kernel': 'rbf'}

In [42]:
x_test = test1[['child_num', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
                  'FLAG_MOBIL', 'work_phone', 'phone', 'email', 'family_size',
                  'begin_month', 'gender_F', 'gender_M', 'car_N', 'car_Y',
                  'reality_N', 'reality_Y', 'income_type_Commercial associate',
                  'income_type_Pensioner', 'income_type_State servant',
                  'income_type_Student', 'income_type_Working',
                  'edu_type_Academic degree', 'edu_type_Higher education',
                  'edu_type_Incomplete higher', 'edu_type_Lower secondary',
                  'edu_type_Secondary / secondary special',
                  'family_type_Civil marriage', 'family_type_Married',
                  'family_type_Separated', 'family_type_Single / not married',
                  'family_type_Widow', 'house_type_Co-op apartment',
                  'house_type_House / apartment', 'house_type_Municipal apartment',
                  'house_type_Office apartment', 'house_type_Rented apartment',
                  'house_type_With parents', 'occyp_type_Accountants',
                  'occyp_type_Cleaning staff', 'occyp_type_Cooking staff',
                  'occyp_type_Core staff', 'occyp_type_Drivers',
                  'occyp_type_HR staff', 'occyp_type_High skill tech staff',
                  'occyp_type_IT staff', 'occyp_type_Laborers',
                  'occyp_type_Low-skill Laborers', 'occyp_type_Managers',
                  'occyp_type_Medicine staff', 'occyp_type_Private service staff',
                  'occyp_type_Realty agents', 'occyp_type_Sales staff',
                  'occyp_type_Secretaries', 'occyp_type_Security staff',
                  'occyp_type_Waiters/barmen staff']]
y_test = test1[['credit']]

# 최적의 파라미터로 학습된 모델로 테스트를 진행
y_true, y_pred = y_test, clf.predict(x_test)

print(classification_report(y_true, y_pred))
print()
print("accuracy : " + str(accuracy_score(y_true, y_pred)) )

             precision    recall  f1-score   support

          0       0.77      0.27      0.40       314
          1       0.62      0.23      0.33       329
          2       0.40      0.92      0.56       323

avg / total       0.60      0.47      0.43       966


accuracy : 0.4720496894409938

In [43]:
comparison2 = pd.DataFrame({'prediction':y_pred,
                          'ground_truth':y_true.values.ravel()})
comparison2

     prediction  ground_truth
0             2             0
1             2             2
2             0             0
3             2             0
4             2             0
5             2             0
6             2             0
7             2             0
8             2             0
9             2             1
10            2             2
11            2             0
12            2             1
13            2             1
14            0             0
15            2             1
16            2             0
17            2             1
18            2             1
19            0             2
20            0             1
21            2             0
22            2             1
23            2             2
24            2             0
25            1             1
26            2             2
27            2             2
28            2             0
29            2             1
..          ...           ...
936           2             1
937           2             2
938           1             0
939           2             0
940           1             0
941           0             0
942           2             1
943           2             1
944           2             0
945           2             2
946           2             0
947           2             1
948           0             1
949           2             1
950           2             2
951           2             0
952           2             0
953           2             0
954           2             0
955           2             0
956           2             2
957           0             0
958           0             0
959           2             2
960           2             2
961           2             2
962           2             0
963           2             1
964           2             2
965           2             2

[966 rows x 2 columns]

In [55]:
from xgboost import plot_importance
from xgboost import XGBClassifier
from sklearn import metrics

In [56]:
y = train1['credit']
x = train1.drop(['credit', 'gender', 'car', 'reality', 'income_type',
                'edu_type', 'family_type', 'house_type', 'occyp_type'], axis=1)
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.1, random_state = 11)
print(X_train.shape, X_test.shape)

(7824, 56) (870, 56)

In [60]:
xgb = XGBClassifier()

xgb_param_grid = {
    'n_estimators' : [100, 200, 400, 600],
    'learning_rate' : [0.01, 0.05, 0.1, 0.15, 0.2],
    'max_depth' : [4, 6, 8, 10, 12],
}

xgb_grid = GridSearchCV(xgb, param_grid = xgb_param_grid, scoring="accuracy", n_jobs=-1, verbose=1)
xgb_grid.fit(X_train, Y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed: 11.6min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed: 18.5min finished

GridSearchCV(cv=None, error_score='raise',
       estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'n_estimators': [100, 200, 400, 600], 'learning_rate': [0.01, 0.05, 0.1, 0.15, 0.2], 'max_depth': [4, 6, 8, 10, 12]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=1)

In [61]:
print("최고 평균 정확도 : {0:.4f}".format(xgb_grid.best_score_))
print("최고의 파라미터 : ", xgb_grid.best_params_)

최고 평균 정확도 : 0.7336
최고의 파라미터 :  {'learning_rate': 0.05, 'max_depth': 4, 'n_estimators': 400}

In [62]:
cv_result_df = pd.DataFrame(xgb_grid.cv_results_)
cv_result_df.sort_values(by=['rank_test_score'], inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('split0_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('split1_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('split2_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('mean_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:122: FutureWarning: You are accessing a training score ('std_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

In [63]:
cv_result_df[['params', 'mean_test_score', 'rank_test_score']].head(10)

,params,mean_test_score,rank_test_score
22,"{'learning_rate': 0.05, 'max_depth': 4, 'n_est...",0.733640,1
60,"{'learning_rate': 0.15, 'max_depth': 4, 'n_est...",0.733512,2
41,"{'learning_rate': 0.1, 'max_depth': 4, 'n_esti...",0.733384,3
40,"{'learning_rate': 0.1, 'max_depth': 4, 'n_esti...",0.733129,4
0,"{'learning_rate': 0.01, 'max_depth': 4, 'n_est...",0.733129,4
3,"{'learning_rate': 0.01, 'max_depth': 4, 'n_est...",0.733129,4
21,"{'learning_rate': 0.05, 'max_depth': 4, 'n_est...",0.733001,7
2,"{'learning_rate': 0.01, 'max_depth': 4, 'n_est...",0.732745,8
20,"{'learning_rate': 0.05, 'max_depth': 4, 'n_est...",0.732745,8
1,"{'learning_rate': 0.01, 'max_depth': 4, 'n_est...",0.732618,10